<table class="table table-hover">

    <a href="/product/create" class="btn btn-primary mt-2 mb-2">Thêm mới sản phẩm</a>
    <thead>
        <tr>
            <th>name</th>
            <th>description</th>
            <th>price</th>
            <th>image</th>
            <th>feature</th>
        </tr>
    </thead>
    <tbody>
        {{#each docs}}
        <tr class="row-product">
            <td class="product product-name">{{this.name}}</td>
            <td class="product product-description">{{this.description}}</td>
            <td class="product product-price">{{this.price}}</td>
            <td class="product product-image">{{this.image}}</td>
            <td class="d-flex">
                <a href="/product/update/id/{{this._id}}" class="btn btn-sm btn-primary btn-edit-product">sửa</a>
                <form action="/product/deleted/id/{{this._id}}" method="get">
                <button type="submit" class="btn btn-sm btn-danger ml-1">Xóa</button>
                </form>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>

<script>
  
</script>